@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Enchanted Land";
  src: url('../public/assets/fonts/Enchanted_Land_DEMO.otf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1, h2, h3, .nav-list {
  font-family: 'Enchanted Land', sans-serif;
  letter-spacing: 0.07em;
}
